<v-card class="elevation-2 index-card">
  <% page.posts.each(function (post) { %>
    <article class="index-article">
      <%#标题%>
      <div class="index-article-header">
        <v-row no-gutters>
          <v-col cols="auto">
            <div class="index-article-header-date font-weight-medium">
              <%=date(post.date)%>
            </div>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="auto">
            <%if(post.tags.length){%>
              <v-card flat color="secondary" tile class="index-article-header-tag  font-weight-medium">
                <% post.tags.data.forEach(function(element) { %>
                  <span class="index-article-header-tag-content">
                    <v-icon>fas fa-tag</v-icon>
                    <a rel="tag" href = <%-url_for(element.path)%> ><%- element.name %></a>
                  </span>
                <% }) %>
              </v-card>
            <%}%>
          </v-col>
        </v-row>
        <span>
          <%if(post.categories.data[0]){%>
            <a class="index-article-header-category font-weight-bold" href="<%-url_for(post.categories.data[0].path)%>"><%=post.categories.data[0].name%>></a>
          <%}else{%>
            <a class="index-article-header-category font-weight-bold" href="<%-url_for(post.path)%>"><%=__('uncategorized')%>></a>
          <%}%> 
        </span> 
        <a class="index-article-header-title font-weight-medium" href="<%-url_for(post.path)%>"><%=post.title%></a>
      </div>
      <%#摘要%>
      <div class="index-article-content">
        <% if (post.excerpt) { %>
          <%- strip_html(post.excerpt) %>
        <% } else { %>
          <%- truncate(strip_html(post.content), {length: theme.excerpt_length}) %>
        <% } %>
      </div>
      <%# 阅读更多%>
      <div class="index-article-readmore ">
        <v-btn text href="<%-url_for(post.path)%>"><%=__('more')%></v-btn>
      </div>
      <v-divider></v-divider>
    </article> 
  <% }); %> 
</v-card>  

<% if (page.total > 1) { %>
  <div id="pagination" class="text-center">
    <v-pagination 
      v-model="currentPage" 
      :length=<%=page.total%> 
      @input="PageChange" 
      prev-icon="chevron_left"
      next-icon="chevron_right"
      color="secondary"
    ></v-pagination>
  </div>
<%}%> 