<v-card class="elevation-2 post-card">
    <div class="post-header">
        <a class="post-header-title font-weight-medium" href="<%-url_for(page.path)%>"><%=__(page.title.toLowerCase()) || page.title%></a>
    </div>
    <div class="post-content typo">
        <%if(page.type=='categories'){%>
            <div class="page-describe">
                <%=_p('counter.categories',site.categories.length)%>
            </div>
            <%- list_categories() %>
        <%}else if(page.type=='tags'){%>
            <div class="page-describe">
                <%=_p('counter.tags',site.tags.length)%>
            </div>
            <div class="tags-contain">
                <%site.tags.data.forEach(function(element) {%>
                    <v-badge :value="tagHover" transition="slide-x-transition" inline content="<%=element.length%>" >
                        <v-hover v-model="tagHover">
                            <v-chip color="secondary" class="tags-chip font-weight-medium">
                                <a href="<%-url_for(element.path)%>"><%=element.name%></a>
                            </v-chip>
                        </v-hover>
                    </v-badge>
                <%})%>
            </div>
        <%}else if(page.type=='search'){%>
            <v-text-field label="Search" v-model="searchPageValue" prepend-icon="search" clearable clear-icon="clear" @keydown.enter="EnterSearch(searchPageValue,true)"></v-text-field>
            <v-card class="elevation-0" id="search-result"></v-card>
        <%}else{%>
            <%- page.content %>
        <%}%>
    </div>
</v-card>
<%- partial('_plugin/comment/index') %>