<v-card class="elevation-2 post-card">
    <%# Post Header %>
    <% if (page.photos.length != 0) { %>
        <v-img src="<%= page.photos[0] %>" class="post-img white--text align-end">
            <%- partial('_partial/post-header',{varHeaderColor:"white"}) %>
        </v-img>
        <% var varHeaderColor="white"; %>
    <%}else{%>
        <%- partial('_partial/post-header',{varHeaderColor:""}) %>
    <%}%>
    <%#页首广告%>
    <% if (theme.google_adsense.enabled && theme.google_adsense.banner_slot) { %>
        <div class="adsense-contain">           
            <!-- Banner Ads -->
            <ins class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-<%= theme.google_adsense.pub_id %>"
                data-ad-slot="<%= theme.google_adsense.banner_slot %>"
                data-ad-format="auto"
                data-full-width-responsive="true">
            </ins>
        </div>
    <% } %>
    <%# 正文 %>
    <div class="post-content typo">
        <%- page.content %>
    </div>
    <!--文末结束语-->
    <% if (theme.passage_end_tag.enabled == true) { %>
        <div style="text-align:center;color: #ccc;font-size:24px;"> <%- theme.passage_end_tag.text %> </div>
    <% } %>
    <!--页脚广告-->
    <% if (theme.google_adsense.enabled && theme.google_adsense.footer_slot) { %>
        <div class="adsense-contain">
            <!-- Footer Ads -->
            <ins class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-<%= theme.google_adsense.pub_id %>"
                data-ad-slot="<%= theme.google_adsense.footer_slot %>"
                data-ad-format="auto"
                data-full-width-responsive="true">
            </ins>
        </div>
    <% } %>
    <v-divider></v-divider>
    <%# 底部文章前后导航 %>
    <div class="post-nav">             
        <% if (page.prev) { %>
            <div class="post-nav-button float-left">
                <v-icon>chevron_left</v-icon>
                <a class="font-weight-bold text-left" href="<%- url_for(page.prev.path) %>">
                    <%- page.prev.title %>
                </a>
            </div>
        <% } %>      
        <% if (page.next) { %>  
            <div class="post-nav-button float-right">
                <a class="font-weight-bold text-right" href="<%- url_for(page.next.path) %>">      
                    <%- page.next.title %>
                </a>
                <v-icon>chevron_right</v-icon>
            </div>
        <% } %>
    </div>
</v-card>

<%#评论%>
<%- partial('_plugin/comment/index') %>
