<v-card class="elevation-2 index-card">
    <v-timeline class="timeline" dense>
        <v-timeline-item class="timeline-header" color="secondary lighten-2">
            <span class="timeline-title"><%= page.tag %></span>
            <span class="timeline-subtitle"><%=__("tags")%></span>
        </v-timeline-item>
        <%page.posts.data.forEach(function(element) {%>
            <v-timeline-item fill-dot small color="secondary lighten-2">
                <div class="timeline-item-post d-none d-md-block">
                    <span class="timeline-item-time"><%-date(element.date,'Y.MM.DD')%></span>
                    <a href="<%-url_for(element.path)%>" class="timeline-item-title"><%=element.title%></a>
                </div>
                <div class="timeline-item-post-mobile d-block d-md-none">
                    <span class="timeline-item-time"><%-date(element.date,'Y.MM.DD')%></span><br>
                    <a href="<%-url_for(element.path)%>" class="timeline-item-title"><%=element.title%></a>
                </div>
                <v-divider></v-divider>
            </v-timeline-item>
        <%})%>
    </v-timeline>
</v-card>

<% if (page.total > 1) { %>
    <div id="pagination" class="text-center">
      <v-pagination 
        v-model="currentPage" 
        :length=<%=page.total%> 
        @input="PageChange" 
        prev-icon="chevron_left"
        next-icon="chevron_right"
        color="secondary"
      ></v-pagination>
    </div>
<%}%> 