<v-row>
  <v-col cols="12" md="8" align-self="end">
    <div id="site-header">
      <div id="site-title">
        <a href="<%- url_for() %>" rel="home"><%=config.title%></a>
      </div>
      <div id="site-description"><%=config.description%></div>
      <div id="mobile-menu" class="d-block d-md-none">
        <v-text-field label="<%=theme.search.placeholder%>" data-src="<%=theme.search.path%>" v-model="searchHeaderValue" prepend-inner-icon="search" clearable clear-icon="clear" @keydown.enter="EnterSearch(searchHeaderValue,<%=theme.search.local%>)"></v-text-field>
        <div class="mobile-mini-menu">
          <v-btn icon href="/">
              <v-icon>home</v-icon>
          </v-btn>
          <v-btn icon href="/categories/">
              <v-icon>folder</v-icon>
          </v-btn>
          <v-btn icon href="/tags/">
              <v-icon>bookmark</v-icon>
          </v-btn>
          <v-btn icon @click="SetNightMode">
              <v-icon>{{ nightMode }}</v-icon>
          </v-btn>
          <% for(element in theme.menu){%>
            <%var str = theme.menu[element].split(" || ")%>
            <v-btn icon href="<%- url_for(str[0]) %>">
              <v-icon><%=str[1]%></v-icon>
            </v-btn>
          <%}%>
        </div>
      </div>    
    </div>
  </v-col>  
  <v-col cols="4" align-self="end" class="d-none d-md-block">
    <v-col align-self="end">
      <v-text-field label="<%=theme.search.placeholder%>" data-src="<%=theme.search.path%>" v-model="searchHeaderValue" prepend-icon="search" clearable clear-icon="clear" @keydown.enter="EnterSearch(searchHeaderValue,<%=theme.search.local%>)"></v-text-field>
    </v-col> 
  </v-col>
</v-row>
