<div class="post-header">
  <a class="post-header-title font-weight-medium" href="<%-url_for(page.path)%>"><%=page.title%></a>
  <div class="post-header-meta">   
    <span>
      <v-icon color="<%=varHeaderColor%>">event</v-icon>
      <%=__('post.posted')%>:&nbsp;<%=date(page.date)%>
    </span>
    <span>
      <v-icon color="<%=varHeaderColor%>">event_available</v-icon>
      <%=__('post.edited')%>:&nbsp;<%=date(page.updated)%>
    </span>
    <span>
      <v-icon color="<%=varHeaderColor%>">folder</v-icon>
      <%=__('post.in')%>:&nbsp;<%- list_categories(page.categories, {show_count: false, style: 'none', separator: ' > '})||__('uncategorized') %>
    </span>
    <%if(theme.busuanzi.site){%>
    <span>
      <v-icon color="<%=varHeaderColor%>">visibility</v-icon>
      <%=__('post.views')%>:&nbsp;<span id="busuanzi_container_page_pv"><span id="busuanzi_value_page_pv"></span></span>
    </span>
    <%}%>
  </div>
</div>
