<div id="sidebar" class="float-right">
    <a href="<%- url_for() %>" rel="home">
        <v-avatar size=96>
            <img id="logo" src="<%=theme.avatar%>">     
        </v-avatar> 
    </a>
    <v-divider></v-divider>
    <div class="mini-menu">
        <v-btn icon href="<%- url_for('/') %>">
            <v-icon>home</v-icon>
        </v-btn>
        <v-btn icon href="<%- url_for('/categories/') %>">
            <v-icon>folder</v-icon>
        </v-btn>
        <v-btn icon href="<%- url_for('/tags/') %>">
            <v-icon>bookmark</v-icon>
        </v-btn>
        <v-btn icon @click="SetNightMode">
            <v-icon>{{ nightMode }}</v-icon>
        </v-btn>
    </div>
    <v-list id="main-menu" class="font-weight-bold" flat>
        <% for(element in theme.menu){%>
            <%var str = theme.menu[element].split(" || ")%>
            <v-list-item href="<%- url_for(str[0]) %>" link>
            <v-list-item-icon><v-icon><%=str[1]%></v-icon></v-list-item-icon>
            <v-list-item-content>
                <%= __(element) || element%>
            </v-list-item-content>
            </v-list-item>
        <%}%>
    </v-list>
    <v-divider></v-divider>
    <%if(is_post() && (page.toc != false)){%>
        <div class="post-toc">
            <a href="<%-url_for(page.path)%>" class="toc-header"><%=__("toc")%></a>
            <div class="toc-content">
                <%- toc(page.content, {class: 'toc', list_number: true}) %>
            </div>
        </div>
    <%}else{%>
        <v-list id="sub-menu" class="font-weight-medium" dense>
            <% for(element of site.categories.data){%>
                <%if(!element.parent){%>
                    <v-list-item href="<%- url_for(element.path)%>" link>
                        <v-badge :value="menuHover" transition="slide-y-transition" inline content="<%=element.length%>" >
                            <v-hover v-model="menuHover">
                                <v-list-item-content>
                                    <span><%=element.name%></span>                              
                                </v-list-item-content>                           
                            </v-hover>
                        </v-badge>
                    </v-list-item>
                <%}%>
            <%}%>
        </v-list>    
    <%}%>

    <div id="footer">
        <div class="footer-social">
            <% for(element in theme.social){%>
                <%var str = theme.social[element].split(" || ")%>
                <v-btn icon href="<%- url_for(str[0]) %>" target="_blank">
                    <v-icon><%=str[1]%></v-icon>
                </v-btn>
            <%}%>
        </div>
        <v-divider></v-divider>
        <div class="footer-content">
            <% if (theme.busuanzi.site) { %>
                <span id="busuanzi_container_site_uv" style="display: none;"> 
                    <%=__('total_visitors')%> <span id="busuanzi_value_site_uv"></span>
                </span>
                <br>
            <% } %>
            <span>Theme: <a href="https://github.com/kb1000fx/hexo-theme-insulin">Insulin</a></span><br>
            <span>Powered by <a href="https://hexo.io/">Hexo</a></span><br>
            <span>
                &copy; <% if (theme.since) { %><%= theme.since %> - <% } %><%- date(new Date(), 'YYYY') %> 
                <%= config.author || config.title %>
            </span>
        </div>
    </div>
</div>
