<div id="sidebar" class="float-right">
    <a href="<%- url_for() %>" rel="home">
        <v-avatar size=96>
            <img id="logo" src="<%=theme.avatar%>">     
        </v-avatar> 
    </a>
    <v-divider></v-divider>
    <v-list id="main-menu" class="font-weight-bold" flat>
        <% for(element in theme.menu){%>
            <%var str = theme.menu[element].split(" || ")%>
            <v-list-item href="<%- url_for(str[0]) %>" link>
            <v-list-item-icon><v-icon><%=str[1]%></v-icon></v-list-item-icon>
            <v-list-item-content >
                <%= __(element) || element%>
            </v-list-item-content>
            </v-list-item>
        <%}%>
    </v-list>
    <v-divider></v-divider>
    <v-list id="sub-menu" class="font-weight-medium" dense>
        <% for(element of site.categories.data){%>
            <%if(!element.parent){%>
                <v-list-item href="<%- url_for(element.path)%>" link>
                    <v-badge :value="hover" transition="slide-y-transition" inline content="<%=element.length%>" >
                        <v-hover v-model="hover">
                            <v-list-item-content>
                                <span><%=element.name%></span>                              
                            </v-list-item-content>                           
                        </v-hover>
                    </v-badge>
                </v-list-item>
            <%}%>
        <%}%>
    </v-list>

    <div id="footer">
        <v-divider></v-divider>
    </div>
</div>
